[run]
# Omitimos los tests y archivos __init__
omit =
    tests/*
    */__init__.py

[report]
# Mismos patrones para el reporte de cobertura
omit =
    tests/*
    */__init__.py
    */data_loader.py
	extra_context = 1
